{% extends 'base.html.twig' %}
  {% block body %}

    <div class="container">

      <form action="/player/create" method="post" >
        <div class="form-group">
          <label for="exampleInputEmail1">Name</label>
          <input type="text" class="form-control" name="inputName" id="inputName" aria-describedby="emailHelp" placeholder="Entrer votre nom">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Ap</label>
          <input type="number" class="form-control" name="inputAp" id="inputAp" placeholder="Ap du Player">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Ad</label>
          <input type="number" class="form-control" name="inputAd" id="inputAd" placeholder="Ad du Player">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Mana</label>
          <input type="number" class="form-control" name="inputMana" id="inputMana" placeholder="Mana du player">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Pv</label>
          <input type="number" class="form-control" name="inputPv" id="inputPv" placeholder="Pv du player">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Envoyer</button>
      </form>
    </div>
  {% endblock %}