<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<div class="container">

  <form method="post" action="/player/create">
    <div class="form-group">
      <label for="exampleInputEmail1">Name</label>
      <input type="text" class="form-control" id="inputName" aria-describedby="emailHelp" placeholder="Entrer votre nom">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Ap</label>
      <input type="number" class="form-control" id="inputAp" placeholder="Ap du Player">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Ad</label>
      <input type="number" class="form-control" id="inputAd" placeholder="Ad du Player">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Mana</label>
      <input type="number" class="form-control" id="inputMana" placeholder="Mana du player">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Pv</label>
      <input type="number" class="form-control" id="inputPv" placeholder="Pv du player">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Envoyer</button>
  </form>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

